---
import Main from '../layouts/Main.astro';
import AccountView from '../components/Account.astro';
import { currentUser } from '../utils';

const user = await currentUser(Astro.cookies);
---

<Main title="Account" center account={user}>
	<AccountView account={user} editable></AccountView>
</Main>
