---
import Main from '../layouts/Main.astro';
import ReleaseView from '../components/Release.astro';
import type { Release } from '../types';

let error,
	releases: Release[] = [];

try {
	const response = await fetch('https://api.github.com/repos/dr-vortex/blankstorm/releases');
	releases = await response.json();
	if('message' in releases && typeof releases.message == 'string'){
		const { message } = releases;
		throw message.slice(0, message.indexOf('(') || message.length);
	}
	releases.sort((a: Release, b: Release) => (Date.parse(a.created_at) < Date.parse(b.created_at) ? 1 : 0));
} catch (err) {
	error = err;
}
---

<Main title="Changelog">
	{
		error ? (
			<span>
				<br />
				Failed to fetch changelog. See it&nbsp;<a href="https://github.com/dr-vortex/blankstorm/releases" target="_blank">here</a>.
			</span>
		) : (
			releases.map((release: Release) => <ReleaseView {release} />)
		)
	}
</Main>
