---
import Main from '../layouts/Main.astro';
---

<Main title="Home" center>
	<h1>Blankstorm</h1>
	<p>Blankstorm is a free Sandbox/RTS game. Command your own fleet of star ships and explore the galaxy!</p>
	<br />
	<p>Check out the <a href="/play">Latest Version</a> and join the <a href="/discord">discord</a> for the latest news!</p>
</Main>
