---
import Main from '../layouts/Main.astro';
import { logout } from '../api';
import { currentUser } from '../utils';

const user = await currentUser(Astro.cookies);

if (user) {
	await logout(user.id);
	return Astro.redirect('/');
}
---

<Main title="Logout" center user={user}>
	<br /><br />
	{user ? 'Successfully signed you out' : 'You must be signed in to do that!'}
</Main>
