---
import Main from '../layouts/Main.astro';
import { logout } from '@blankstorm/api';
import { currentUser } from '../utils';

const user = await currentUser(Astro.cookies);

if (user) {
	await logout(Astro.cookies.get('token').value);
	return Astro.redirect('/');
}
---

<Main title="Logout" center account={user}>
	<br /><br />
	{user ? 'Successfully signed you out' : 'You must be signed in to do that!'}
</Main>
