---
import Main from '../layouts/Main.astro';
import { parse as parseMarkdown } from 'marked';
import { repo_url } from '../repository';
const url = 'https://raw.githubusercontent.com/blankstorm/blankstorm/main/license.md';
let html;
try {
	const response = await fetch(url);
	const text = await response.text();
	html = parseMarkdown(text);
} catch (err) {
	html = `<br>Failed to get terms of service. See them <a href="${repo_url + '/blob/main/license.md'}" target="_blank">here</a>`;
}
---

<Main title="Terms of Service" center>
	<span set:html={html}></span>
</Main>
