---
import Main from '../../layouts/Main.astro';
import ReleaseView from '../../components/Release.astro';
import { repo_api_url, type Release } from '../../repository';

let error, release: Release;

const { version } = Astro.params;

const isAlias = ['latest'].includes(version);

const fetch_url = repo_api_url + '/releases' + (isAlias ? '' : '/tags/' + version);

try {
	const response = await fetch(fetch_url);
	const result = await response.json();

	if ('message' in result && typeof result.message == 'string') {
		const { message } = result;
		const end = message.indexOf('(');
		throw message.slice(0, end != -1 ? end : message.length);
	}

	release = isAlias ? result[0] : result;
} catch (err) {
	error = err;
}
---

<Main title={`Release ${release?.name || ''}`}>
	{
		error ? (
			<span data-fetch-url={fetch_url}>
				<br />
				Failed to fetch release{typeof error == 'string' && ': ' + error}
			</span>
		) : (
			<ReleaseView {release} />
		)
	}
</Main>
