---
import ReleaseView from '../../components/Release.astro';
import Main from '../../layouts/Main.astro';
import { repositoryAPIRequest, type Release } from '../../repository';

let error: string | Error, release: Release;

const { version } = Astro.params;

const fetch_url = '/releases' + (version == 'latest' ? '' : '/tags/' + version);

try {
	const result = await repositoryAPIRequest(fetch_url);
	release = version == 'latest' ? result[0] : result;
} catch (err) {
	error = err;
}
---

<Main title={`Release ${release?.name || ''}`}>
	{
		error ? (
			<span data-fetch-url={fetch_url}>
				<br />
				Failed to fetch release{typeof error == 'string' && ': ' + error}
			</span>
		) : (
			<ReleaseView {release} />
		)
	}
</Main>
