---
import ReleaseView from '../../components/Release.astro';
import Main from '../../layouts/Main.astro';
import { repo_url, repositoryAPIRequest, type Release } from '../../repository';

let error: string | Error | undefined,
	releases: Release[] = [];

try {
	releases = await repositoryAPIRequest('/releases');
	releases.sort((a: Release, b: Release) => (Date.parse(a.created_at) < Date.parse(b.created_at) ? 1 : 0));
} catch (err) {
	error = err;
}
---

<Main title="Releases">
	{
		error ? (
			<span>
				<br />
				Failed to fetch releases. See it&nbsp;
				<a href={repo_url + '/releases'} target="_blank">
					here
				</a>
				.
			</span>
		) : (
			releases.map((release: Release) => <ReleaseView {release} />)
		)
	}
</Main>
