---
import { currentUser } from "../utils";
const user = await currentUser(Astro.cookies);
---
<nav>
	<a href="/" style="padding-top:2%">Home</a>
	<a href=/docs target=_blank class="sub-menu">Documentation</a>
	<div class="sub-menu" style=position:fixed;top:50px;left:130px>
		<a href=/docs/commands target=_blank>Commands</a><br>
		<a href=/docs/selectors target=_blank>Selectors</a><br>
	</div>
	<a href=/changelog class="sub-menu">Versions & Bugs</a>
	<div class="sub-menu" style=position:fixed;top:50px;left:300px>
		<a href=/changelog>Changelog</a><br>
		<a href=/bugs target=_blank>Bugs</a><br>
	</div>
	<a href=/play>Play</a>
	<!--<a href=/faq>FAQ</a>-->
	<a href=/discord target=_blank>Discord</a>
	<a href=/yt target=_blank>YouTube</a>
	<a id="account-link" class="sub-menu" href={ (user ? '/account' : '/login') }>{ user ? 'Logged in as ' + user.username : 'Login'}</a>
	{user && <div class="sub-menu" style="position:fixed;right:1px;top:50px">
		<a href="/account">Account</a><br>
		{user.oplvl > 0 && <a href="/admin">Admin</a><br>}
		<a href="/logout">Log&nbsp;out</a>
	</div>}
</nav><br><br>