---
import Main from './Main.astro';
import { currentUser } from '../utils';
import type { FullAccount, AccountType } from '@blankstorm/api';

interface Props {
	user?: FullAccount;
	minType?: AccountType;
	title?: string;
}

let { user = await currentUser(Astro.cookies), minType, title = 'Admin' } = Astro.props;
minType ||= 1; // to prevent 0 from being passed

if (!user) {
	return Astro.redirect('/login');
}

if (user.oplvl < minType) {
	Astro.response.status = 403;
}
---

<Main title={title} user={user}>
	<slot />
	{
		user.oplvl < minType ? (
			<div>
				<h2>Forbidden</h2>
				<p>You do not have permission to access this.</p>
			</div>
		) : (
			<div>
				<h3>Actions</h3>
				{user.oplvl > 2 && (
					<a class="action" href="/admin/account">
						Manage Account
					</a>
				)}
				{user.oplvl > 1 && (
					<a class="action" href="/admin/releases">
						Manage Releases
					</a>
				)}
				<a class="action" href="/admin/accounts">
					View Accounts
				</a>
				<a class="action" href="/admin/email">
					Send Email
				</a>
			</div>
		)
	}
</Main>
