---
import Main from './Main.astro';
import { ReasonPhrases, StatusCodes } from 'http-status-codes';

interface Props {
	status: StatusCodes;
}

const { status = StatusCodes.INTERNAL_SERVER_ERROR } = Astro.props;

const statusText = ReasonPhrases[status] ?? 'Unknown error';

const details: { [key in StatusCodes]?: string } = {
	400: '',
	404: 'The requested resource could not be found',
};
---

<Main title={statusText} center>
	<h1>{statusText}</h1>
	{details[status] && <p>details[status]</p>}
</Main>
