---
import Main from './Main.astro';
import { StatusCodes, ReasonPhrases } from 'http-status-codes';

interface Props {
	status: StatusCodes;
}

const { status = StatusCodes.INTERNAL_SERVER_ERROR } = Astro.props;

const statusText = StatusCodes[status].toLowerCase().replace(/(?:^|\s)\S/g, a => a.toUpperCase());
---
<Main title={statusText} center>
	<h1>{statusText}</h1>
	<p>ReasonPhrases[status]</p>
</Main>
