{ const api = await locals.import('./api.js');
const oplvl = 2, user = req.cookies.token && await api.users.getOne('token', req.cookies.token); }
<!DOCTYPE html>
<html lang="en">
{ await include('/blankstorm.drvortex.dev/head.ejs', { title: 'View Accounts' }); }
<body>
	{ await include('/blankstorm.drvortex.dev/nav.ejs'); }
	{ await include('/blankstorm.drvortex.dev/admin-actions.ejs', { oplvl }); }
	<style>
		td {
			padding: 0.33em;
		}
	</style>
	{ if(user.oplvl >= oplvl){ }
		<br><br><br>
		<p>Current number of accounts: { await api.users.count(); }</p>
		<table id="accounts">
			<thead><tr>
				<td></td>
				<td>ID</td>
				<td>Username</td>
				<td>Email</td>
				<td>Admin level</td>
				<td>Created</td>
				<td>Username changed</td>
				<td>Disabled</td>
				<td>Logged in</td>
				<td>Action Session</td>
			</tr></thead>
			<tbody>
		{ for(let account of await api.users.getAll(req.query.from, req.query.to)){ }
			<tr>
				<td><a href="/admin/account?id={ account.id }">Manage</a></td>
				<td>{ account.id }</td>
				<td>{ account.username }</td>
				<td>{ account.email }</td>
				<td>{ api.getOplvlRole(account.oplvl) }</td>
				<td>{ account.created.toString().slice(4, 15) }</td>
				<td>{ account.lastchange.toString().slice(4, 15) }</td>
				<td>{ account.disabled ? 'Yes' : 'No' }</td>
				<td>{ account.token ? 'Yes' : 'No' }</td>
				<td>{ account.session ? 'Yes' : 'No' }</td>
			</tr>
		{ } }
			</tbody>
		</table>
	{ } }
</body>
</html>