---
import Admin from '../../layouts/Admin.astro';
import AccountView from '../../components/Account.astro';
import { currentUser } from '../../utils';
import { users } from '../../api';
import { type FullAccount, account as apiAccount } from '@blankstorm/api';
const { isValid } = apiAccount;

const current = (await currentUser(Astro.cookies)) as FullAccount;
if (!current || current?.oplvl < 0) {
	Astro.redirect('/login');
}
let key = Astro.url.searchParams.get('key') as keyof FullAccount,
	value: string = Astro.url.searchParams.get('value') as string,
	account: FullAccount = {} as FullAccount;
for (const k of ['id', 'username', 'email', 'token']) {
	if (Astro.url.searchParams.has(k)) {
		key = k as keyof FullAccount;
		value = Astro.url.searchParams.get(k) as string;
		break;
	}
}
if (isValid(key, value)) {
	account = await users.getOne(key, value);
}
---

<Admin user={current} title="Manage account">
	<br /><br /><br />
	<form method="get">
		<select name="key" value={key || 'id'}>
			<option value="id">ID</option>
			<option value="username">Username</option>
			<option value="email">Email</option>
			<option value="token">Token</option>
		</select>
		<input name="value" value={value} />
		<button>Submit</button>
	</form>
	<AccountView account={account} viewer={current} />
</Admin>
